<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Web0120</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <!-- 서블릿매핑  GuestServlet.java  -->
	<!--  
		  <servlet>
		  	<servlet-name>GuestServlet</servlet-name>
		  	<servlet-class>net.hb.mvc.GuestServlet</servlet-class>
		  </servlet>
		  <servlet-mapping>
		    <servlet-name>GuestServlet</servlet-name>
		  	<url-pattern>/GuestServlet</url-pattern>
		  </servlet-mapping>
	 -->
</web-app>






