<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Itgirl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Join</servlet-name>
    <servlet-class>net.hb.joinMvc.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Join</servlet-name>
    <url-pattern>/join/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberDetail</servlet-name>
    <servlet-class>net.hb.memberMvc.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDetail</servlet-name>
    <url-pattern>/memberDetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberEditPre</servlet-name>
    <servlet-class>net.hb.memberMvc.EditPreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEditPre</servlet-name>
    <url-pattern>/memberEditPre.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberEdit</servlet-name>
    <servlet-class>net.hb.memberMvc.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEdit</servlet-name>
    <url-pattern>/memberEdit.do</url-pattern>
  </servlet-mapping>
</web-app>